In [1]:
#Write a list comprehension to generate squares of numbers from 1 to 10
squrs=[x**2 for x in range(1,11)]
print(squrs)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [2]:
#2. Create a list of even numbers between 1 and 50 using list comprehension.

even=[x for x in range(1,51) if x%2==0]
print(even)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50]

In [3]:
#3. Convert all strings in a list to uppercase using list comprehension.

str=["Bhairavi","sujit","karan","divya"]
upper_str=[word.upper() for word in str]
print(upper_str)

['BHAIRAVI', 'SUJIT', 'KARAN', 'DIVYA']

In [4]:
#4. Given a list of integers, create a new list that contains only the positive numbers.

inte_lst=[-34,56,-89,12,-10,19,-34]
posi_lst=[x for x in inte_lst if x>0]
print(posi_lst)

[56, 12, 19]

In [5]:
#5. Create a list of tuples (num, num^2) for numbers 1 to 5.

tup=[(num,num**2) for num in range(1,6)]
print(tup)

[(1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

In [6]:
#6. Extract all vowels from a given string using list comprehension.

str="Bhairavi Dnyaneshwar Salunkhe"
lst=[x for x in str if x.lower() in "aeiou"]
print(lst)

['a', 'i', 'a', 'i', 'a', 'e', 'a', 'a', 'u', 'e']

In [7]:
#7. Flatten a 2D list using list comprehension.
a=[[1,4,7,10],[56,78,34],[87,90]]
flatten=[num for sublist in a for num in sublist]
print(flatten)

[1, 4, 7, 10, 56, 78, 34, 87, 90]

In [8]:
#8. Replace all negative numbers in a list with 0 using list comprehension
lst=[23,-67,89,-45,-90]
repl_neg=[x if x>0 else 0 for x in lst]
print(repl_neg)

[23, 0, 89, 0, 0]

In [9]:
#9. Given a list of words, create a list of lengths of each word
lst=["Bhairavi","Dnyaneshwar","Salunkhe"]
len_lst=[len(word) for word in lst]
print(len_lst)

[8, 11, 8]

In [10]:
#10. Filter out words that start with the letter 'A' or 'a'.

word=["ankita","abhay","bhairavi","sujit"]
word_a=[x for x in word if not x.lower().startswith("a")]
print(word_a)

['bhairavi', 'sujit']

In [11]:
'''11. From a list of numbers, generate a list of “even” or “odd” strings using 
list comprehension.
(Like → [“even”, “odd”, “odd”, “even”…]'''

numbers=[1,2,3,4,57,23,45,22]
even_odd=['even' if x%2==0 else 'odd' for x in numbers]
print(even_odd)

['odd', 'even', 'odd', 'even', 'odd', 'odd', 'odd', 'even']

12. Create a list of numbers divisible by both 3 and 5 in range 1–100.

In [12]:
li=[i for i in range(1,101)if i%3==0 and i%5==0]
li

[15, 30, 45, 60, 75, 90]

13. Write a nested list comprehension to generate a multiplication table 
for 1–5.

In [13]:
li=[(i*j) for i in range(1,6) for j in range(1,11)]
li

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 3,
 6,
 9,
 12,
 15,
 18,
 21,
 24,
 27,
 30,
 4,
 8,
 12,
 16,
 20,
 24,
 28,
 32,
 36,
 40,
 5,
 10,
 15,
 20,
 25,
 30,
 35,
 40,
 45,
 50]

14. Convert a dictionary’s keys into a list using list comprehension.

In [15]:
s={'bhairavi':22,'sujit':20,'kishori':23}
st=[key for key in s ]
st

['bhairavi', 'sujit', 'kishori']


15. Extract numeric digits from a string using list comprehension.

In [16]:
s='bhairavi3155'
st=[i for i in s if i.isdigit()]
st

['3', '1', '5', '5']

16. Use list comprehension to remove all spaces from a string.

In [17]:
my_string = "Bhairavi Dnyaneshwar Salunkhe"
str = ''.join([i for i in my_string if i != ' '])
print(str)

BhairaviDnyaneshwarSalunkhe

17. Create a list of characters that appear more than once in a string.

In [19]:
s='good morning'
qrt=[i for i in s if s.count(i) > 1]
qrt

['g', 'o', 'o', 'o', 'n', 'n', 'g']


18. From a list of sentences, generate a list of all words (split using list 
comprehension).

In [20]:
word = ["hello sunshine","good morning","have a great day"]
all_words =[j  for s in word for j in s.split()]
print(all_words)

['hello', 'sunshine', 'good', 'morning', 'have', 'a', 'great', 'day']

19. Create a list of unique elements from a list using list comprehension + 
condition.

In [21]:
l1 = [1, 2, 2, 3, 4, 3, 5, 1, 6, 7, 7, 8]
s= set()
ert = [x for x in l1 if x not in s and not s.add(x)]
ert

[1, 2, 3, 4, 5, 6, 7, 8]



20. Generate all pairs (x, y) where x is from list A and y is from list B 
(cartesian product).

In [22]:
A=[1,2,4,5,6]
B=[2,6,8,9,3]
c=[(x*y) for  x in  A for y in B ]
c

[2,
 6,
 8,
 9,
 3,
 4,
 12,
 16,
 18,
 6,
 8,
 24,
 32,
 36,
 12,
 10,
 30,
 40,
 45,
 15,
 12,
 36,
 48,
 54,
 18]

Lambda functions


1. Write a lambda to add two numbers.

In [23]:
add=lambda num1,num2: num1+num2
add(5,10)

15


2. Create a lambda to check if a number is even.

In [24]:
even=lambda num: num%2==0
even(15)

False


3. Write a lambda to get the last character of a string.

In [25]:
str=lambda strg: strg[-1]
str('bhairavi')

'i'

4. Use lambda with map() to square every number in a list.

In [26]:
nums=[1,2,3,4,5]
list(map(lambda num:num**2,nums))

[1, 4, 9, 16, 25]

5. Use lambda with filter() to get only odd numbers from a list.

In [27]:
list(filter(lambda num:num%2!=0,nums))

[1, 3, 5]

6. Use sorted() + lambda to sort a list of tuples by second value.

In [28]:
tup= [('apple', 3), ('gauva', 1), ('berry', 2)]
srt= sorted(tup, key=lambda item: item[1])
print(srt)

[('gauva', 1), ('berry', 2), ('apple', 3)]

7. Create a lambda to check if a string is a palindrome.

In [29]:
pl = lambda s: s == s[::-1]
print(pl("bhairavi"))
print(pl("nayan"))

False
True


8. Use lambda to find maximum of three numbers.

In [30]:
max1 = lambda a, b, c: max(a, b, c)
print(max1(345, 87, 23))

345

9. Write a lambda to reverse a string.

In [49]:
rev_str= lambda s: s[::-1]
print(rev_str("bhairavi"))

ivariahb


10. Use lambda with map() to convert a list of strings to integers.

In [31]:
strn = ['6', '2', '5', '2', '1']
intn = list(map(lambda s: int(s), strn))
print(intn)

[6, 2, 5, 2, 1]

11. Use lambda with filter() to remove empty strings from a list.

In [32]:
lst = ["python", "", "java", "", "c++", "", "html"]
adsf = list(filter(lambda x: x != "", lst))
print(adsf)

['python', 'java', 'c++', 'html']


12. Use lambda to compute factorial using reduce() (yeah, that one-liner 
madness).

13. Write a lambda that returns the larger of two numbers.

In [33]:
max_num = lambda a, b: a if a > b else b
print(max_num(10, 20))

20


14. Use lambda to check if number is divisible by 5.

In [40]:
c = lambda x: x % 5 == 0

print(c(25))
print(c(12))

True
False


15. Use lambda + map() to add 10 to each element of a list.

In [41]:
lst = [1, 2, 3, 4, 5]
a= list(map(lambda x: x + 10, lst))
print(a)

[11, 12, 13, 14, 15]

16. Use lambda to sort a list of dictionaries by a key (like "age").

In [37]:
people = [
    {"name": "bhairavi", "age": 25},
    {"name": "sujit", "age": 20},
    {"name": "kishori", "age": 30}
]
sorted_list = sorted(people, key=lambda x: x["age"])
print(sorted_list)

[{'name': 'sujit', 'age': 20}, {'name': 'bhairavi', 'age': 25}, {'name': 'kishori', 'age': 30}]


17. Write a lambda that returns True if a character is a vowel.

In [38]:
a= lambda ch: ch.lower() in "aeiou"
print(a("a"))
print(a("b"))

True
False

18. Use lambda + filter to extract words of length > 5 from a list.

In [39]:
words = ["python", "java", "programming", "code", "machine", "ai"]
turn= list(filter(lambda x: len(x) > 5, words))
print(turn)

['python', 'programming', 'machine']

19. Use lambda to calculate the area of a circle (πr²).

In [42]:
import math
area = lambda r: math.pi * r * r
print(area(5))

78.53981633974483


20. Write a lambda to remove duplicates from a list using filter + set.

In [43]:
lst = [1, 2, 3, 2, 4, 3, 5]
z= list(filter(lambda x: x in set(lst), lst))
print(z)

[1, 2, 3, 2, 4, 3, 5]


21. Use lambda with reduce() to find the product of all numbers in a list.

In [44]:
from functools import reduce
a= [1, 2, 3, 4, 5]
b= reduce(lambda x, y: x * y, a)
print(b)

120


22. Write a lambda that returns absolute value of a number.

In [46]:
a= lambda x: abs(x)

print(a(-10))
print(a(5))

10
5


23. Use lambda to sort a list of strings by their length.

In [45]:
words = ["python", "ai", "machine", "code", "data"]
c= sorted(words, key=lambda x: len(x))
print(c)

['ai', 'code', 'data', 'python', 'machine']


24. Use lambda to get only uppercase characters from a string.

25. Write a lambda that returns the square if number is even, cube if odd.

In [47]:
a = lambda x: x**2 if x % 2 == 0 else x**3

print(a(4))  
print(a(3))

16
27

26. Use lambda with map to convert Celsius to Fahrenheit.

In [48]:
c= [0, 10, 20, 30, 40]
f= list(map(lambda c: (c * 9/5) + 32, c))

print(f)

[32.0, 50.0, 68.0, 86.0, 104.0]

27. Write a lambda to check if two strings are anagrams.

28. Use lambda to extract only numeric values from a mixed list.

In [34]:
lst = [10, "python", 20.5, "abc", 30, "100", 5]
nums = list(filter(lambda x: type(x) in [int, float], lst))
print(nums)

[10, 20.5, 30, 5]

29. Use lambda inside any() to check if any list element is negative.

In [35]:
lst = [5, 10, -3, 7, 8]
result = any(map(lambda x: x < 0, lst))

print(result)

True


30. Use lambda to generate a function that multiplies any number by

In [36]:
multiply = lambda n: lambda x: x * n
times5 = multiply(5)
print(times5(10))

50